<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.zsmy.akm">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- Push service 运行需要的权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    s
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <application
        android:name=".home.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="lBO34nLokhoKASvVr6G574th" />
        <!-- 百度地图定位服务 -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <activity
            android:name=".home.SplashActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".home.NavigationActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.HomeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".doctor.DoctorListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".doctor.FamousDoctorListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".doctor.DoctorDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".doctor.CommentListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".interrogation.InterrogationInputActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".doctor.DoctorSearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".interrogation.DoctorsRecommend"
            android:screenOrientation="portrait" />
        <activity
            android:name=".interrogation.GraphicInquiryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".interrogation.PhoneInquiryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".interrogation.InterrogationUserChoiceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".interrogation.InterrogationSuggestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".interrogation.InterrogationCommentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".interrogation.InterrogationHistoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".interrogation.InterrogationUserEditorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".interrogation.InterrogationChatActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".interrogation.DrugDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".interrogation.AddNewPersonActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".profile.AboutUsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".profile.BalanceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".profile.BalanceDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".profile.IntegralActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".profile.InterrogationUserListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".profile.MoreActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".profile.NoticeSettingsActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".profile.RechargeModeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".profile.ValueEditorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".profile.RechargeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".profile.UserInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".profile.FeedBackActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".profile.UserHelpActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".profile.UserAgreementActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".profile.ArchivesDetailActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".profile.SelectCityActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".salon.CommunityList"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".salon.activity.PhotoAlbumActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".salon.activity.ImageGridActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".salon.activity.ReplyPostActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".side.DrugListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".side.CheckProjectActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".salon.FunctionDetailActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".shared.ChatPictureLookActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!-- 友盟自动更新 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="569ddf8d67e58e0f6e0023e0" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Channel ID" />

        <service
            android:name="com.umeng.update.net.DownloadingService"
            android:process=":DownloadingService"></service>

        <activity
            android:name="com.umeng.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"></activity>

        <!-- 在百度开发者中心查询应用的API Key -->
        <meta-data
            android:name="api_key"
            android:value="lBO34nLokhoKASvVr6G574th" />
        <!-- push service start -->
        <!-- 用于接收系统消息以保证PushService正常运行 -->
        <receiver
            android:name="com.baidu.android.pushservice.PushServiceReceiver"
            android:process=":bdservice_v1">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="com.baidu.android.pushservice.action.notification.SHOW" />
                <action android:name="com.baidu.android.pushservice.action.media.CLICK" />
                <!-- 以下四项为可选的action声明，可大大提高service存活率和消息到达速度 -->
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>
        <!-- Push服务接收客户端发送的各种请求 -->
        <receiver
            android:name="com.baidu.android.pushservice.RegistrationReceiver"
            android:process=":bdservice_v1">
            <intent-filter>
                <action android:name="com.baidu.android.pushservice.action.METHOD" />
                <action android:name="com.baidu.android.pushservice.action.BIND_SYNC" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.baidu.android.pushservice.PushService"
            android:exported="true"
            android:process=":bdservice_v1">
            <intent-filter>
                <action android:name="com.baidu.android.pushservice.action.PUSH_SERVICE" />
            </intent-filter>
        </service>
        <!-- 4.4版本新增的CommandService声明，提升小米和魅族手机上的实际推送到达率 -->
        <service
            android:name="com.baidu.android.pushservice.CommandService"
            android:exported="true" />
        <!-- push结束 -->
        <service android:name=".chat.im.IMPushService" />

        <receiver android:name=".chat.receiver.NetWorkConnectionReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <!-- push应用定义消息receiver声明 -->
        <receiver android:name=".chat.receiver.MyPushMessageReceiver">
            <intent-filter>

                <!-- 接收push消息 -->
                <action android:name="com.baidu.android.pushservice.action.MESSAGE" />
                <!-- 接收bind,unbind,fetch,delete等反馈消息 -->
                <action android:name="com.baidu.android.pushservice.action.RECEIVE" />
                <action android:name="com.baidu.android.pushservice.action.notification.CLICK" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".salon.activity.PlatformListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".salon.activity.PostDetailActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.MessagesContentActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".profile.MyDoctorActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".salon.activity.choosePhoto.ForumReleaseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".salon.activity.choosePhoto.AlbumActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".salon.activity.choosePhoto.ImageFile"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".salon.activity.choosePhoto.GalleryActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".salon.activity.choosePhoto.ShowAllPhoto"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".salon.activity.choosePhoto.BitmapCache"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity android:name=".shared.PicturelookActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

        <receiver
            android:name=".service.NoticeBroadCastReceive"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="Receive_notification_of_control" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
